<link rel="stylesheet" type="text/css" href="/seattle.component.css">
<h1>Seattle, WA</h1>
<div id='info'>
	<p>Humidity: {{ weatherData['humidity'] }}%</p>
	<p>Temp(Avg): {{ weatherData['temp'] }}° F</p>
	<p>Temp(Min): {{ weatherData['temp_min'] }}° F</p>
	<p>Temp(Max): {{ weatherData['temp_max'] }}° F</p>
	<p>Status: {{ weatherData['description'] }}</p>
</div>
<div id="imageWrap">
	<img id="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Space_Needle002.jpg/1200px-Space_Needle002.jpg">
</div>