<link rel="stylesheet" type="text/css" href="/burbank.component.css">
<h1>Burbank, CA</h1>
<div id='info'>
	<p>Humidity: {{ weatherData['humidity'] }}%</p>
	<p>Temp(Avg): {{ weatherData['temp'] }}° F</p>
	<p>Temp(Min): {{ weatherData['temp_min'] }}° F</p>
	<p>Temp(Max): {{ weatherData['temp_max'] }}° F</p>
	<p>Status: {{ weatherData['description'] }}</p>
</div>
<div id="imageWrap">
	<img id="image" src="https://en.wikipedia.org/wiki/Burbank,_California#/media/File:Burbank_media_district_from_Griffith_Park_2015-11-07.jpg">
</div>